.app {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif; 
  section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    justify-content: space-evenly;
    border: 2px solid mediumaquamarine;
    margin: 10px;
  }
}